header{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(img/Brrrr.jpg);
    text-align: center;
}

.box{
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 425px;
    text-align: center;
}

.image{
    padding-top: 10px;
    border-radius: 15px;
    width: 90%;
    height: 215px;
}

.ctb-button {
    background-color: #22ff77;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: right;
}

.header{
    padding-top: 15px;
    margin: 0 20px 20px;
    text-align: center;
    font-size: 19px;
}

.text{
    margin: 0 16px 16px;
    text-align: center;
    font-size: 17px;
    color: grey;
}

.button{
    background-color: aliceblue;
    border-color: aliceblue;
    color: brown;
    font-size: 12px;
    margin-left: 200px;
}

nav {
    text-align: right;
}